{% extends 'layout.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
    <h1>Aspect Based Sentiment Analysis: POS Tagging + LDA</h1>
    <h3>Evan Cheng</h3>

    <div class="container">
        
        <form method="POST" action="/process">
            <div class="form-group">
                    <label>Restaurant Review:</label>
            <textarea type="text" rows="5" cols="5" class="form-control"  name="rawtext" required="true"></textarea>
            <br/>
			<br/>
            <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
         
        </div>
        </form>
    </div>

    <div class="container">
        <p><b>Original Review:</b></p>
        <p>"{{ request.form['rawtext'] }}"</p>
        <br>

    </div>

    <div class="container">
        <table>
            <label><b>Model: Split --> LDA --> Sentiment Analysis --> POS Tagging</b></label>
            {% for table in tables2 %}
                {{ table|safe }}
            {% endfor %}
        </table>
        <br>
        <br>
    </div>

{% endblock %}